.slides-form-wrapper .redactor_editor {
    padding: 20px;
}

.slide-items {
    padding-bottom: 30px;
}

.slide-item {
    display: inline-block;
    position: relative;
    height: 200px;
    width: 377px;
    border: 2px dotted #e0e0e0;
    outline: none;
    overflow: hidden;
}
.slide-item.filled {
    border: 1px solid #e0e0e0;
    background: white;
    padding: 5px;
    overflow: visible;
}
.manage-file a, .manage-file i {
    font-size: 20px;
    color: #555;
}

/* -- Tableau -- */
.slide-item table {
    width: 100%;
      height: 165px;
}
.slide-item table td {
    padding: 5px;
    width: 50%;
    vertical-align: top;
    padding-top: 47px;
    max-width: 250px;
}

/* Tbleau d'options --*/
.grouping {
    margin-bottom: 15px;
}
.grouping th, .footer {
    background-color: #efefef;
    padding: 8px 15px;
}
.grouping th label {
    font-weight: normal;
}
.grouping td {
    padding: 15px;
    border: 1px solid #efefef;
    text-align: left;
  vertical-align: top; 
}
.grouping td small {
  border-top: 1px dashed #efefef;
  display: block;
  margin-top: 8px;
  padding-top: 8px;
  line-height: 1.1;
  font-size: 11px;    
}

/* -- Bootstrap overrides -- */

.form-group-small {
    width: 120px;
}
.form-group-middle {
    width: 165px;
}

/* -- Les attributs -- */
.icon-label {
    border: 1px solid rgba(0,0,0,.1);
    padding: 3px;
    margin-bottom: 3px;
    border-radius: 3px;    
}
.icon-label span {
  float: left;
    margin: 0 5px;
}
.icon-label p, .icon-label i {
    line-height: 24px;
    padding: 0;
    margin: 0;
}
.icon-label p {
    white-space: nowrap;
    width: 137px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;    
}

/* -- KNOB & Processing -- */

.slide-item canvas {/* Le knob actif */
    position: absolute;
    top: 25px;
    left: 105px;        
    transition:all .3s cubic-bezier(1,-1.21,0,1.33);
}
.slide-item canvas.out {
    transform:translateX(-377px);
    opacity: 0;
}
.slide-item .process {
    display: block;
    position: absolute;
    width: 100%;
    line-height: 200px;
    text-align: center;
    color: #bbb;
    opacity: 0;
    transition:all .3s cubic-bezier(1,-1.21,0,1.33);
    transform:translateX(377px);
}
.slide-item .process i {
    color: #bbb;
}
.slide-item .process.in {
    transform:translateX(0);   
    opacity: 1;
}

.slide-item input[type="file" ], .slide-item .knob {
    display: none;
}    

/* Le layer qui permet d'editer la photo une fois chargée */

/* .slide-item-toolbar > .item-controls (barre inferieure) */
.slide-item-toolbar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-color: rgba(250,250,250,.99);
    opacity: 0;
    transition:opacity .2s ease;
}

.slide-item-toolbar h4 {
    font-size: 12px;
    text-transform: none;
    margin: 0;
    padding-bottom: 5px;
}
.slide-item-toolbar h4.title {
    margin: 0 10px;
    border-bottom: 1px solid #ddd;
}
.slide-item-toolbar p {
    font-size: 11px;
    line-height: 1.1;
    color: #555;
    margin: 5px 10px;

}
.slide-item:hover .slide-item-toolbar, 
.slide-item-toolbar.active {
    opacity: 1
}
.slide-item .img {
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    background-size: cover;
}

/* -- ColorPicker -- */

.item-controls .sp-replacer {
    border: none;
    margin-top: -5px;
    margin-left: 5px;
}
.item-controls .sp-preview {
    border-color: #555;
}
.item-controls .sp-dd {
    display: none;
}

/* -- Le bloc qui contient les deux boutons (ajout et filemanager) -- */

.add-file-control {
    position: absolute;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-top: -25px;
    margin-left: -50px;
}
.add-file-control a {
    display: inline-block;
    line-height: 50px;
    text-align: center;
    width: 50%;
    background: #eee;
    
}
.add-file-control a:first-child {
    width: 49%;
    margin-right: 1%;
}

.item-controls {
    height: 35px;
    background: #eee;
    position: absolute;
    width: 100%;
    bottom: 0;        
}
.item-controls i {
    line-height: 35px;
    margin: 0 0 0 10px;
}
.item-controls .handle {
    cursor: move;
    font-size: 17px;
}
.remove-item {
    position: absolute;
    right: 10px;
    top: 10px;        
}
.slides-form-wrapper i.fa-sort-asc {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.slides-form-wrapper i:hover {
    color: #5cb85c;
}

.slides-form-wrapper i.fa-sort-desc {
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 10px;
}

/* -- Options Container -- */

.options-content {
    display: none;
    z-index: 1;
    position: relative;
    background-color: #fff;
    padding: 20px;    
}
.options-content label {
    display: block;
    color: #999;
}
.options-content .input-group {
    max-width: 550px;
}
/* -- ccm-ui -- */
.ccm-ui .popover.top {
z-index: 9999; /* To go up of the tool bar */
}
